client/node_modules/
node_modules/
personal_site/db*
personal_site/personal_site/__pycache__/
personal_site/api/migrations/__pycache__/
personal_site/api/__pycache__/
personal_site/api/models/__pycache__/
personal_site/api/__pycache__/*
*.pyc
**.pyc
/**/*.pyc
personal_site/api/schema/__pycache__/
personal_site/__pycache__/
terraform/.terraform/**/*
terraform/*.backup
backend/__pycache__/
backend/api/.admin.pyc.icloud
backend/api/__pycache__/
backend/api/migrations/__pycache__/
backend/api/models/.user.pyc.icloud
backend/api/models/__pycache__/
backend/api/schema/__pycache__/
backend/personal_site/.settings.pyc.icloud
backend/personal_site/.urls.pyc.icloud
backend/personal_site/__pycache__/
../terraform/terraform.tfstate
/**/*.tfstate
