client/node_modules/
node_modules/
personal_site/db*
personal_site/personal_site/__pycache__/
personal_site/api/migrations/__pycache__/
personal_site/api/__pycache__/
personal_site/api/models/__pycache__/
personal_site/api/__pycache__/*
*.pyc
**.pyc
/**/*.pyc
personal_site/api/schema/__pycache__/
personal_site/__pycache__/
terraform/.terraform/**/*
terraform/*.backup
