body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Junicode";
  src: local("Junicode"), url("./fonts/Junicode.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Light";
  src: local("WorkSans-Light"),
    url("./fonts/WorkSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: local("WorkSans-Bold"),
    url("./fonts/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Black";
  src: local("WorkSans-Black"),
    url("./fonts/WorkSans-Black.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
